In [1]:
import pandas as pd
import numpy as np

In [5]:
acad = pd.read_excel('acad.xlsx')

In [6]:
acad

    Rsp No  aa  pe  sm  ae  r  g  c
0        1  99  19   1   2  0  0  1
1        2  46  12   0   0  0  0  0
2        3  57  15   1   1  0  0  0
3        4  94  18   2   2  1  1  1
4        5  82  13   2   1  1  1  1
5        6  59  12   0   0  2  0  0
6        7  61  12   1   2  0  0  0
7        8  29   9   0   0  1  1  0
8        9  36  13   1   1  0  0  0
9       10  91  16   2   2  1  1  0
10      11  55  10   0   0  1  0  0
11      12  58  11   0   1  0  0  0
12      13  67  14   1   1  0  1  1
13      14  77  14   1   2  2  1  0
14      15  71  12   0   0  2  1  0
15      16  83  16   2   2  1  0  1
16      17  96  15   2   2  2  0  1
17      18  87  12   1   1  0  0  1
18      19  62  11   0   0  0  0  0
19      20  52   9   0   1  2  1  0
20      21  46  10   1   0  0  1  0
21      22  91  20   2   2  1  0  0
22      23  85  12   2   1  1  1  1
23      24  48  11   1   1  2  0  0
24      25  81  17   1   1  1  1  1
25      26  74  16   2   1  2  1  0
26      27  68  12   2   1  1  1  1
27      28  63  12   1   0  0  0  1
28      29  72  14   0   2  0  0  0
29      30  99  19   1   1  1  0  0
30      31  64  13   1   1  0  0  0
31      32  77  13   1   0  1  1  1
32      33  88  16   2   2  0  1  0
33      34  54   9   0   1  1  0  0
34      35  86  17   1   2  1  0  1
35      36  73  15   1   1  0  1  0
36      37  79  15   2   1  0  0  1
37      38  85  14   2   1  2  1  1
38      39  96  16   0   1  1  0  1
39      40  59  12   1   0  0  1  0
40      41  84  14   1   0  1  0  1
41      42  71  15   2   1  1  0  0
42      43  89  15   0   1  0  1  1
43      44  38  12   1   0  1  1  0
44      45  62  11   1   1  2  0  1
45      46  93  16   1   0  1  0  1
46      47  71  13   2   1  1  0  0
47      48  55  11   0   1  0  0  0
48      49  74  15   1   2  0  1  0
49      50  76  20   0   1  1  0  1

In [8]:
#cross table between gender and student's motivation
obs =pd.pivot_table(acad[['g','sm']],index ='g',columns='sm',aggfunc=len)
obs

sm   0   1  2
g
0   10  13  6
1    4   9  8

In [9]:
## perform chi2 test to check independence
from scipy.stats import chi2_contingency

In [10]:
chi2,p,dof,tbl =chi2_contingency(obs)

In [11]:
chi2

2.3649585225939904

In [12]:
p

0.3065178579178871

In [13]:
dof

2

In [14]:
tbl

array([[ 8.12, 12.76,  8.12],
       [ 5.88,  9.24,  5.88]])