In [4]:
import scipy
from scipy.stats import chi2
from scipy.stats import poisson

In [5]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_excel('p_distribution.xlsx')
data

    Arrivals  Frequency
0          0          0
1          1          1
2          2          4
3          3         10
4          4         14
5          5         20
6          6         12
7          7         12
8          8          9
9          9          8
10        10          6
11        11          3
12        12          1

In [9]:
Observed_Freq =data['Frequency']

In [10]:
Observed_Freq

0      0
1      1
2      4
3     10
4     14
5     20
6     12
7     12
8      9
9      8
10     6
11     3
12     1
Name: Frequency, dtype: int64

In [12]:
total_arrival =600
total_time_period =100
mu = total_arrival/total_time_period

In [13]:
mu

6.0

In [15]:
Expected_Freq = []
for i in range(len(Observed_Freq)):
    E_Freq = 100*poisson.pmf(i, mu)
    Expected_Freq.append( E_Freq)

In [16]:
Expected_Freq

[0.24787521766663584,
 1.4872513059998145,
 4.461753917999444,
 8.923507835998894,
 13.385261753998332,
 16.062314104797995,
 16.06231410479801,
 13.767697804112569,
 10.32577335308442,
 6.883848902056284,
 4.130309341233764,
 2.2528960043093247,
 1.1264480021546681]

In [17]:
Expected_Freq_round_off=[round(elem, 2) for elem in Expected_Freq]
Expected_Freq_round_off

[0.25,
 1.49,
 4.46,
 8.92,
 13.39,
 16.06,
 16.06,
 13.77,
 10.33,
 6.88,
 4.13,
 2.25,
 1.13]

In [18]:
df= pd.DataFrame(list(zip(Observed_Freq,Expected_Freq_round_off)),columns =['Obseved Frequency','Expected Frequency'])
df

    Obseved Frequency  Expected Frequency
0                   0                0.25
1                   1                1.49
2                   4                4.46
3                  10                8.92
4                  14               13.39
5                  20               16.06
6                  12               16.06
7                  12               13.77
8                   9               10.33
9                   8                6.88
10                  6                4.13
11                  3                2.25
12                  1                1.13

In [22]:
obs_freq=[5,10,14,20,12,12,9,8,10]
Expected_Freq =[6.20,8.92,13.39,16.06,16.06,13.77,10.33,6.88,8.39]

In [23]:
scipy.stats.chisquare(obs_freq, Expected_Freq)

Power_divergenceResult(statistic=3.2738182931105193, pvalue=0.916017731732134)